<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/app.css" />
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
        <title>DatBar</title>
    </head>
    <body ng-app="app" layout="column" ng-cloak>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="menu" hide-gt-sm ng-click="$root.toggleMenu();" aria-label="menu">
                    <md-icon md-svg-icon="img/menu-button.svg"></md-icon>
                </md-button>
                <span flex></span>
                <h3>{{ $root.title }}</h3>
                <span flex></span>
                <ng-include src="$root.topButtonsTemplate"></ng-include>
            </div>
        </md-toolbar>

        <div class="container" layout="row" flex>
            <md-sidenav
                    ng-click="$root.toggleMenu();"
                    md-component-id="left"
                    md-is-locked-open="$mdMedia('gt-sm')"
                    class="md-whiteframe-4dp" >

                <md-list>
                    <md-list-item class="secondary-button-padding" ng-repeat="entry in $root.menu" ng-click="$root.goTo(entry.link)">
                        <md-icon md-svg-icon="{{ entry.icon }}"></md-icon>
                        <p class="md-title">{{ entry.title }}</p>
                    </md-list-item>
                </md-list>
            </md-sidenav>

            <md-content ng-view flex layout-padding ng-cloak></md-content>
        </div>

        <ng-include src="$root.bottomToolbarTemplate"></ng-include>

        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/lib/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
        <script type="text/javascript" src="js/lib/angular-route.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/ctrl/productsCtrl.js"></script>
        <script type="text/javascript" src="js/ctrl/checkoutCtrl.js"></script>
        <script type="text/javascript" src="js/ctrl/productSearchDialogCtrl.js"></script>
    </body>
</html>
