<md-list style="margin-bottom: 25px;">
    <md-list-item ng-repeat="item in inCart">
        {{ item.amount }} x {{ item.name }} <span flex></span> {{ item.amount*item.priceInDKK }} ,-
    </md-list-item>
    <md-list-item ng-if="inCart.length == 0">
        The cart is empty!
    </md-list-item>
</md-list>

<md-fab-speed-dial md-direction="up" class="md-fab-bottom-right md-fling md-fab-bottom-right-fixed">
    <md-fab-trigger>
        <md-button aria-label="speeddial" class="md-fab md-warn">
            <md-icon md-svg-src="img/add-plus-button.svg" aria-label="speeddial"></md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button aria-label="search" class="md-fab md-raised md-mini md-primary" ng-click="showProductSearch($event);">
            <md-icon md-svg-src="img/searching-magnifying-glass.svg" aria-label="search"></md-icon>
        </md-button>
        <md-button aria-label="barcode" class="md-fab md-raised md-mini md-primary" ng-click="scanBarcode();">
            <md-icon md-svg-src="img/camera.svg" aria-label="barcode"></md-icon>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>
